/*Test the Github Commit*/
 *,
 *::after,
 *::before{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

body{
  font-family: 'Outfit', sans-serif;
  font-size: 0.9375rem;
  position: relative;
}

.container{
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.QRcode-card__img{
  max-width: 100%;
  border-radius: 0.75rem;
}

.QRcode-card{
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  width: 85.33%;
  /* margin: 27px; */
  /* Ignored margin: 27px since I have used % for width. So it will act responsively and add margin according to the width of viewport*/
  border-radius: 1rem;
  margin: 2rem 0;
  /* using margin value for top and bottom to have a space between card and screen edge(top & bottom) for landscape mode in mobile*/
}

.QRcode-card__title{
  font-weight: 700;
  font-size: 1.40625rem;
  color: hsl(218, 44%, 22%);
  text-align: center;
}

.QRcode-card__description{
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.QRcode-card__details{
  /* background-color: pink; */
  margin: 1.1875rem 0 1.4375rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.attribution{
  color: hsl(218, 44%, 22%);
  position: absolute;
  font-size: 0.79rem;
  bottom: 0.2rem;
  text-align: center;
  /* width: 100%; */
  /* If we use width: 100%, we can ignore left: 0; right: 0, since already using text-align: center */
  left: 0;
  right: 0;
}

.attribution a{
  color: hsl(220, 15%, 55%);
}


@media (min-width: 375px){
  .QRcode-card{
    max-width: 320px;
  }
}
